body
{
	max-width:1100px;
	margin:auto;
	font-size:15px;
	background:#FFFFFF;
}

h1
{
	float:left;
	background:#DDDDDD;
	padding:2px 9px;
	border-radius:3px;
	margin:0;
}

#subt
{
	font-weight:bold;
	font-size:180%;
	float:right;
	background:#273544;
	padding:2px 9px;
	border-radius:3px;
	margin:0;
	color:#FFFF91;
}


footer
{
	border-top:2px solid #BBBBBB;
	text-align:center;
}

a, a:visited
{
	color:#5A5A1F;
	text-decoration:none;
	border-bottom:2px solid #32FF32;
	font-size:105%;
	padding:2px 4px;
	font-weight:bold;
}

a:hover
{
	border-bottom:4px solid #FF0000;
	background:#000;
	color:#00FF00;
}

#red-pill-list
{
	margin:1px 4px;
	padding:1px 4px;
}

#red-pill-list a
{
	background:#DDDDDD;
	width:190px;
	border-bottom:none;
	margin:3px;
	float:left;
}

#red-pill-list a:hover
{
	background:#000;	/* same as a:hover */
}

/*
	.short-article is the same as #red-pill-list,
	they are embbed at the same level position,
*/
.short-article
{
	margin:1px 4px;
	padding:1px 4px;
}

#mark-image
{
	width:320px;
	float:left;
}

#content-right
{
	float:right;
	margin:70px 10px 10px;
	padding:8px 10px;
	width:640px;	/* < body::1100px - mark-image::320px - borderWaste */
	border:0px solid #DDDDDD;
	border-radius:5px;
}

#backer
{
	margin-top:100px;
	float:left;
}

#write-date
{
	margin:50px 5px;
	padding:5px 20px;
	border-top:1px solid #000;
	border-bottom:1px solid #000;
	width:100px;
}

